# Ignore the compiled executables and debug symbols
StringFinder
a.out
*.o
*.dSYM/
*Lab5*
*Lab5_part2*
# Ignore IDE specific folders and configuration
cmake-build-debug/
.idea/
.vscode/


# Ignore OS metadata
.DS_Store

